# input.config
# This configuration is for events only occuring at cluster 0 and will help analyze energy dissipation of
# CH and ACH of cluster 0;

Protocol=myproto
Nodes=16

# Number of packets per node packet queue
PacketQueueSize=1

# Number of partitions to be made for a node's energy level
EnergyDivisions=100

# This value is in percentage. i.e., x percentage of maxEnergy
EnergyGapThreshold=20

# Duration for relaxation period
RelaxTime=1.0

Tracefile=traces/trace_16_cbr.tr
EnergyTracefile=traces/trace_16_cbr_energy.tr

# Format for 'Attributes'
# <Node ID> : <x,y> : <Max_transmission_radius(metres)> : <Bandwidth(kbps)> : <Initial_energy(Joule)> : <NodeType=[CH,ACH,NCH,BS]> : <Cluster number>
# BS = node(5)

Attributes=
0:80,280:260:256:1000:CH:0
1:280,180:260:256:1000:CH:1
2:150,420:260:256:1000:CH:2
3:320,325:260:256:1000:CH:3
4:455,275:260:256:1000:CH:4
5:610,265:1000:2048:999999:BS:-1
6:120,230:260:256:1000:ACH:0
7:265,225:260:256:1000:ACH:1
8:180,375:260:256:1000:ACH:2
9:335,370:260:256:1000:ACH:3
10:445,245:260:256:1000:ACH:4
11:50,275:260:256:1000:NCH:0
12:280,155:260:256:1000:NCH:1
13:118,432:260:256:1000:NCH:2
14:284,342:260:256:1000:NCH:3
15:475,310:260:256:1000:NCH:4

# Format for 'CBR Events'
# <EventType> : <CauseOfEvent> : <StartTime> : <StopTime>

Events=
CBR_EVENT:N11:1:500
CBR_EVENT:N12:10:500
CBR_EVENT:N13:20:500
CBR_EVENT:N14:30:500
CBR_EVENT:N15:40:500

END
