Protocol=myproto
Nodes=5

# Format for 'Attributes'
# <x,y,z> : <Max_Radius_transmission(metres)> : <Initial_energy(Joule)> : <PacketSize> : <NodeType=[CH,ACH,NCH]>

Attributes=
50,70,20:50:100:128
60,40,20:50:100:128
100,30,20:50:100:128
75,55,20:50:100:128
10,60,20:50:100:128

# Format for 'Events'
# <EventType> : <CauseOfEvent> : <AtTime>
# These are the significant events that are given by the user. These events internally generates there own events to perform their tasks.
# Example: 'SENSE_EVENT' event will generate internal events like- producing sensed data, forwarding it to CH, Data-aggregation by CH,
# 			CH forward data to its next hop, so on.

Events=
SENSE_EVENT:N4:1.0
# The above event means: The sensor node 4 has sensed an event and now has to send information to the BS via its CH.
SENSE_EVENT:N3:1.2
SENSE_EVENT:N1:2.0
SENSE_EVENT:N1:2.5
SENSE_EVENT:N2:2.7
SENSE_EVENT:N5:3.0
SENSE_EVENT:N3:3.4
SENSE_EVENT:N2:3.7

Tracefile=trace.tr

END
